/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: 'menu';
  src: url('font/menu.eot?5105251');
  src: url('font/menu.eot?5105251#iefix') format('embedded-opentype'),
       url('font/menu.woff?5105251') format('woff'),
       url('font/menu.ttf?5105251') format('truetype'),
       url('font/menu.svg?5105251#menu') format('svg');
  font-weight: normal;
  font-style: normal;
}
